<div class="nav-header">
    <div class="brand-logo">
        <a href="/Message/Inbox/">
            <b class="logo-abbr"><img src="~/quixlab-master/images/logo.png" alt=""> </b>
            <span class="logo-compact"><img src="~/quixlab-master/images/logo-compact.png" alt=""></span>
            <span class="brand-title">
                <img src="~/quixlab-master/images/logo-text.png" alt="">
            </span>
        </a>
    </div>
</div>
<!--**********************************
    Nav header end
***********************************-->
<!--**********************************
    Header start
***********************************-->
<div class="header">
    <div class="header-content clearfix">
        <div class="header-right">
            <ul class="clearfix">
                <li class="icons dropdown">
                    <div class="user-img c-pointer position-relative" data-toggle="dropdown">
                        <span class="activity active"></span>
                        <img src="~/quixlab-master/images/user/1.png" height="40" width="40" alt="">
                    </div>
                    <div class="drop-down dropdown-profile   dropdown-menu">
                        <div class="dropdown-content-body">
                            <ul>
                                <li>
                                    <a href="/Profile/ProfileDetail/"><i class="icon-user"></i> <span>Profil</span></a>
                                </li>
                                <li>
                                    <a href="/Message/Inbox"><i class="icon-envelope-open"></i> <span>Gelen Kutusu</span> <div class="badge gradient-3 badge-pill badge-primary">3</div></a>
                                </li>
                                <hr class="my-2">
                                <li>
                                    <a href="/Login/Logout/">
                                        <i class="icon-key"></i>
                                        <span>Çıkış Yap</span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>