@model List<IdentityChatEmailNight.Entites.Message>
@{
	Layout = "~/Views/Shared/_MessageLayout.cshtml";
}

<div class="email-right-box">
	<div role="toolbar" class="toolbar">
		<br />
		<div class="m-2">
			<div class="input-group icons">
				<div class="input-group-prepend">
					<span class="input-group-text bg-transparent border-0 pr-2 pr-sm-3" id="basic-addon1"><i class="mdi mdi-magnify"></i></span>
				</div>
				<input type="search" class="form-control" placeholder="Konu Ara" aria-label="Konu Ara">
				<div class="drop-down d-md-none">
					<form action="#">
						<input type="text" class="form-control" placeholder="Ara">
					</form>
				</div>
			</div>
		</div>
		<br />
	</div>
	<div class="email-list m-t-15">
		<div class="message">
			<a href="#">
				<div class="col-mail col-mail-2">
					<div class="subject"><b>Konu - Mesaj İçeriği</b></div>
					<div class="date"><b>Tarih</b></div>
				</div>
			</a>
		</div>
		@foreach(var item in Model)
		{
			<div class="message">
				<a href="/Message/MessageDetail/@item.MessageId">
					<div class="col-mail col-mail-2">
						<div class="subject"><b>@item.Subject</b> - @(item.MessageDetail.Length > 80 ? item.MessageDetail.Substring(0, 80) + "..." : item.MessageDetail)</div>
						<div class="date">@item.SendDate.ToString("dd-MMM HH:mm")</div>
					</div>
				</a>
			</div>
		}
		
	</div>
</div>
