<div class="email-left-box">
    <a href="/Message/CreateMessage/" class="btn btn-primary btn-block">Yeni Mesaj Oluştur</a>
    <div class="mail-list mt-4">

        <a href="/Message/Inbox/" class="list-group-item border-0 p-r-0"><i class="fa fa-inbox font-18 align-middle mr-2"></i>Gelen Kutusu</a>

        <a href="/Message/SendBox/" class="list-group-item border-0 p-r-0"><i class="fa fa-paper-plane font-18 align-middle mr-2"></i>Giden Kutusu</a>

    </div>
    <h5 class="mt-5 m-b-10">Menüler</h5>
    <div class="list-group mail-list">
        <a href="/Profile/ProfileDetail/" class="list-group-item border-0"><span class="fa fa-user-circle-o f-s-14 mr-2"></span>Profilim</a>
        <a href="/Register/CreateUser/" class="list-group-item border-0"><span class="fa fa-user-plus f-s-14 mr-2"></span>Yeni Kullanıcı Oluştur</a>
        <a href="/Login/UserLogin/" class="list-group-item border-0"><span class="fa fa-sign-in f-s-14 mr-2"></span>Giriş Yap</a>
        <a href="/Login/Logout/" class="list-group-item border-0"><span class="fa fa-sign-out f-s-14 mr-2"></span>Çıkış Yap</a>

    </div>
</div>